/* Including fonts */
@font-face {
  src: url("../../fonts/Kelson Sans Light RU.otf");
  font-family: 'Kelson Sans';
  font-weight: 300; }

@font-face {
  src: url("../../fonts/Kelson Sans Regular RU.otf");
  font-family: 'Kelson Sans';
  font-weight: 400; }

@font-face {
  src: url("../../fonts/Kelson Sans Bold RU.otf");
  font-family: 'Kelson Sans';
  font-weight: 700; }
